/* Media Queries */
@media screen and (max-width: 940px) {
  .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar {
    grid-template-columns: repeat(2, 1fr);
    border-bottom: none;
  }

  .navbar .dictionary {
    width: 100%;
    padding: 10px 0;
    order: 3;
    grid-column: span 2;
  }

  .dictionary form {
    max-width: 100%; 
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    background-color: #fff;
    flex-direction: column ;
    top: 80px;
    height: 100%;
    width: 100%;
    transition-duration: 0.3s;
    padding-top: 1rem;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-menu li {
    font-size: 1.2rem;
    padding: 1rem;
  }

  .nav-burgur-btn {
    display: block;
  }

  .listings {
    grid-template-columns: repeat(8, 1fr);
  }
}

@media screen and (max-width: 680px) {
  .top-bar .intro, p {
    font-size: .8rem;
  }

  .listings {
    grid-template-columns: repeat(4, 1fr);
    gap: .5rem;
  }

  .listings img {
    width: 100%;
    height: 90px;
    object-fit: cover;
  }

  .footer .left-menu, .right-menu {
    flex-direction: column;
  }
}
/* Media Queries End*/
